@model WebApplication2.Models.DocumentTypeOption
@{
    ViewData["Title"] = "Edit Document Type";
    // Layout = "AdminLayout";
}

<!DOCTYPE html>
<html>
<body>

    <h1>Edit Option</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form id="editDocumentType" method="post" enctype="multipart/form-data" asp-action="EditDocumentType" asp-controller="Admin">
            @Html.HiddenFor(model => model.DocumentTypeOptionId)
        @*<div class="form-horizontal">*@
            <hr />
            <div class="form-group">
                @* @Html.LabelFor(model => model.DocumentTypeOptionValue, htmlAttributes: new { @class = "control-label col-md-2" }) *@
                <label class="control-label col-md-2">Document Type Option</label>
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.DocumentTypeOptionValue, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="text" class="form-control" id="documenttype" asp-for="DocumentTypeOptionValue" placeholder="Enter document type" onchange="updateFormat()" required oninput="(function(e){e.setCustomValidity(''); return !e.validity.valid && e.setCustomValidity(' ')})(this)",
                                oninvalid = "this.setCustomValidity('Please fill in document type.')"  />
                    @*@Html.ValidationMessageFor(model => model.DocumentTypeOptionValue, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save Option Changes</button> 
                    <button type="reset" class="btn btn-primary">Reset Option Changes</button>
                    <a href="@Url.Action("CreateDocumentType")" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            <p>
                @Html.ActionLink("Back to Document Type Options List", "CreateDocumentType")
            </p>
        @*</div>*@
    </form>
    }

    <!-- Success message model-->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <i class="fas fa-check-circle fa-3x text-success"></i>
                    <p>Document type updated successfully!</p>
                </div>
            </div>
        </div>
    </div>

    <script>


        function updateFormat() {
            let doctypeInput = document.getElementById('documenttype');
            let doctypeOption = doctypeInput.value;

            document.getElementById('DocumentTypeOptionValue').value = doctypeOption;

            

            

        $(document).ready(function () {
            $('#editDocumentType').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                // var formData = new FormData(this);
                

                // Check if the file input field is empty
                /*if ($('#file').val() === '') {
                    formData.delete('DocumentFile'); // Remove the DocumentFile key from the FormData object
                }*/

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditDocumentType", "Admin")', // Adjust the URL to your controller action
                    data: $(this).serialize(),
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            // Show the success modal
                            $('#successModal').modal('show');
                            // Redirect after a short delay
                            setTimeout(function () {
                                window.location.href = '@Url.Action("MetadataFormDropDown", "Admin")'; // Adjust the URL to your document management page
                            }, 1500); // Adjust the delay as needed
                        } else {
                            alert('An error occurred: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred while updating the document type: ' + error);
                    }
                });
            });
        });
    </script>

</body>

</html>